In [1]:
import pandas as pd
import numpy as np

In [217]:
DATA_DIR = '/Users/Rambo/Downloads/highschool_data/'
RANK_MAP = {"dili":"Dlfd","yuwen":"Ywfd","huaxue":"Hxfd","lishi":"Lsfd","shengwu":"Swfd","wuli":"Wlfd",
            "zhengzhi":"Zzfd","tiyu":"Tyfd","shuxue":"Sxfd","yingyu":"Yyfd","xxjs":"xxjsfd"}
CITY_MAP = {1:"贵阳",2:"遵义",3:"安顺",4:"毕节",5:"铜仁",6:"六盘水",7:"黔南州",8:"黔东南",9:"黔西南"}
subject = "shuxue"
item_dir = DATA_DIR+subject+"ItemInfor.csv"
score_dir = DATA_DIR+subject+"Score.txt"
rank_dir = DATA_DIR+"等级数据.txt"
dfitem = pd.read_csv(item_dir)
dfscore = pd.read_csv(score_dir,delimiter="\t")
dfrank = pd.read_csv(rank_dir,delimiter="\t")

In [196]:
#科目总分
fullscore = dfitem.loc[dfitem["shitihao"] == "totalScore"]["full"].iloc[0]
#总人数  &1
dfgb_score = dfscore.groupby("cityID")
series_totalExaminee = dfgb_score['kh'].count().rename("参考学生数",inplace=True)

In [197]:
#未缺考表
df_noAbsent_score = dfscore.loc[dfscore["absent"] == "N"]
#实际考试人数  &2
dfgb1_score = df_noAbsent_score.groupby("cityID")
series_realExaminee = dfgb1_score['kh'].count().rename("实考学生数",inplace=True)

In [201]:
#缺考人数  %3
series_absentExaminee = series_totalExaminee - series_realExaminee
series_absentExaminee = series_absentExaminee.rename("缺考学生数",inplace=True)
#从 未缺考表中筛选0分人数   %4
dfgb2_score = df_noAbsent_score.loc[df_noAbsent_score["totalScore"] == 0].groupby("cityID")
series_zeroExaminee = dfgb2_score['kh'].count().rename("0分学生数",inplace=True)

#totalScore_Groupby 开始对总分统计
series_gb_totalScore = df_noAbsent_score.groupby("cityID")["totalScore"]
#mean %5
series_city_mean = series_gb_totalScore.mean().rename("平均分",inplace=True)
#std %6
series_city_std = series_gb_totalScore.std().rename("标准差",inplace=True)
#variation %7
series_city_variation = series_city_std/series_city_mean
series_city_variation = series_city_variation.rename("变异系数",inplace=True)
#skew  %8
series_city_skew = series_gb_totalScore.skew().rename("偏度系数",inplace=True)
#kurt  %9
series_city_kurt = dfgb1_score["totalScore"].apply(pd.Series.kurt).rename("峰度系数",inplace=True)
#1/4  %10
series_city_25 = series_gb_totalScore.quantile(.25).rename("1/4分位数",inplace=True)
#1/2  %11
series_city_5 = series_gb_totalScore.quantile(.5).rename("中位数",inplace=True)
#3/4  %12
series_city_75 = series_gb_totalScore.quantile(.75).rename("3/4分位数",inplace=True)
#passExaminee  %13
dfgb3_pass = dfscore.loc[dfscore["totalScore"] >= fullscore*0.6].groupby("cityID")
series_city_passExaminee = dfgb3_pass["kh"].count().rename("及格人数",inplace=True)
#passRate  %14
series_city_passRate = series_city_passExaminee/series_realExaminee
series_city_passRate = series_city_passRate.rename("及格率",inplace=True)
#outstandingExaminee  %15
dfgb4_outstanding = dfscore.loc[dfscore["totalScore"] >= fullscore*0.9].groupby("cityID")
series_city_outstandingExaminee = dfgb4_outstanding["kh"].count().rename("优秀人数",inplace=True)
#outstandingRate  %16
series_city_outstandingRate = series_city_outstandingExaminee/series_realExaminee
series_city_outstandingRate = series_city_outstandingRate.rename("优秀率",inplace=True)
#mode  %17
series_city_mode = series_gb_totalScore.apply(pd.Series.mode)
df_city_mode = series_city_mode.unstack().rename(columns={0:"第一众数",1:"第二众数",2:"第三众数",3:"第四众数"})
#ABCD等人数
#要拼接score和等级数据表
dfscore_kh = dfscore.set_index(dfscore['kh'])
dfrank_kh = dfrank.set_index(dfrank['kh'])[RANK_MAP[subject]]
dfABCD = pd.concat([dfscore_kh,dfrank_kh],axis=1,join="inner")
#df_city_ABCD = series_gb_totalScore
#dfrank_kh
dfgb_ABCD = dfABCD.groupby("cityID")
series_city_ABCD = dfgb_ABCD[RANK_MAP[subject]].value_counts()
df_end = series_city_ABCD.unstack()
df_end = df_end.rename(columns={"A":"A等人数","B":"B等人数","C":"C等人数","D":"D等人数"})
#ABCDrate
df_endRate = df_end.div(series_realExaminee,axis=0).mul(100).rename(columns={"A等人数":"A等%","B等人数":"B等%","C等人数":"C等%","D等人数":"D等%"})
#cityID % city_name
df_city_name = pd.DataFrame({"区域编号":list(CITY_MAP.keys()),"区域名称":list(CITY_MAP.values())},index=list(CITY_MAP.keys()))

         第一众数
cityID
1       133.0
2       114.0
3        48.0
4       108.0
5       108.0
6       116.0
7       108.0
8       108.0
9        51.0

In [202]:

series_city_list = [series_totalExaminee,series_realExaminee,series_absentExaminee,series_zeroExaminee,series_city_mean,
                    series_city_std,series_city_variation,series_city_skew,series_city_kurt,series_city_25,series_city_5,
                   series_city_75,series_city_passExaminee,series_city_passRate,series_city_outstandingExaminee,series_city_outstandingRate,
                   df_city_mode,df_end,df_endRate]

In [200]:
#pd.concat(series_city_list,axis=1,join="inner")
#for i in series_city_list:
 #   print(i)

,参考学生数,实考学生数,缺考学生数,0分学生数,平均分,标准差,变异系数,偏度系数,峰度系数,1/4分位数,...,优秀率,第一众数,A等人数,B等人数,C等人数,D等人数,A等%,B等%,C等%,D等%
cityID,,,,,,,,,,,,,,,,,,,,,
1,29891,29745,146,3,114.155186,24.503311,0.214649,-1.121455,0.949587,102.0,...,0.196974,133.0,6824,13102,8625,1194,22.941671,44.047739,28.996470,4.014120
2,57633,57175,458,18,102.057726,26.967331,0.264236,-0.589809,-0.361602,84.0,...,0.088868,114.0,6151,20355,25961,4708,10.758199,35.601224,45.406209,8.234368
3,15966,15773,193,1,94.499842,29.991415,0.317370,-0.393676,-0.812146,71.0,...,0.065618,48.0,1240,4739,7328,2463,7.861536,30.045014,46.459139,15.615292
4,65529,64756,773,3,95.637702,28.251719,0.295404,-0.469181,-0.657504,75.0,...,0.048644,108.0,3992,20655,31436,8672,6.164680,31.896658,48.545309,13.391809
5,37448,37124,324,39,99.354663,27.253201,0.274302,-0.712589,-0.057904,83.0,...,0.058884,108.0,2687,13060,17542,3835,7.237905,35.179399,47.252451,10.330245
6,26558,26310,248,2,98.321190,27.750685,0.282245,-0.569362,-0.512407,79.0,...,0.057887,116.0,1888,9234,12147,3041,7.175979,35.096921,46.168757,11.558343
7,25121,24931,190,3,97.917552,29.016828,0.296339,-0.523774,-0.634372,76.5,...,0.070234,108.0,2157,8460,11113,3201,8.651879,33.933657,44.575027,12.839437
8,31614,31469,145,4,105.069815,25.714900,0.244741,-0.790298,0.035952,90.0,...,0.090756,108.0,3483,12885,12983,2118,11.068035,40.945057,41.256475,6.730433
9,24112,23956,156,7,97.140508,29.584494,0.304554,-0.527754,-0.648796,76.0,...,0.067499,51.0,1997,8101,10438,3413,8.336116,33.816163,43.571548,14.246953